aiohttp
aria2p==0.9.1
hachoir
Pillow
pyrogram
tgcrypto
youtube_dl
hurry.filesize
python-dotenv
beautifulsoup4>=4.8.2,<4.8.10
bs4
lxml
requests
messages
js2py
Click==7.0
feedparser==5.2.1
qbittorrent-api==0.5.1

